extends ../layout

block head
    script(src='/javascript/math/decimal.js')
    script(src='/javascript/math/e.js')

block content
    h1 Calculate Natural Number to 100 decimal places
    h2 You may want to keep this tab active during calculation to speed things up.
    p This uses the Brothers' new formula to calculate e. More iterations = higher precision.
    div#calc-data
        label Number of iterations 
        input(type='number')#iterationCount
        br
        label Precision 
        input(type='number')#precision
        br
        input(type='submit' value='Run')#run
        br
        input(type='submit' value='Stop')#stop
    br
    hr
    br
    div#flipper-output
        label Currently doing iteration #
        input(type='number' readonly='true')#currentIterationCount
        br
        label Therefore, e = 
        input(readonly='true')#eOutput
