extends ../layout

block head
    script(src='/javascript/math/flipper.js')

block content
    h1 Coin Flipper
    h2 You may want to keep this tab active during calculation to speed things up.
    div#flipper-data
        label Number of flips 
        input(type='number')#flipCount
        br
        label Flip set count
        input(type='number')#flipSetCount
        br
        label Number of heads is 
        select#criteriaType
            option Equals
            option Not Equals
            option Larger Than
            option Smaller Than
            option Larger | Equals
            option Smaller | Equals
        input(type='number')#criteriaValue
        br
        input(type='submit' value='Run')#run
        br
        input(type='submit' value='Stop')#stop
    br
    hr
    br
    div#flipper-output
        label Currently doing flip #
        input(type='number' readonly='true')#currentFlipCount  
        label which is 
        div#flipperOutContainer
            input(readonly='true')#flip1
            input(readonly='true')#flip2
            input(readonly='true')#flip3
        br
        br
        label Therefore, 
        input(readonly='true')#flipPercentage
        label  of the flips meet the criteria
