extends layout
block content
    h1 Thanks for signing up!
    h2 Before you login, you are required to confirm your account
    h3 Please click the link below to confirm it.
    a(href='https://minecraft.eyeball.online/users/signup-confirm?code=' + code)='https://minecraft.eyeball.online/users/signup-confirm?code=' + code
    br
    small If you dcode not signup for an account, you can safely delete this email
