extends ../layout

block head
    script(src='/javascript/projects-view.js')
    script.
        var projectName = decodeURIComponent("#{encodeURIComponent(projectName)}");
        var ownerName = decodeURIComponent("#{encodeURIComponent(owner)}")

block content
    h2='Viewing ' + projectName + ' by ' + owner

    if isOwner
        div#projectControl
            button#delete-project Delete Project