extends ../layout

block content
    h1 Since this is your first login using an external service with a matching account using the same email, we need you to confirm that you own the account.
    h2 Please check your email for a confirmation email.
