extends ../layout
block head
    script(src='/javascript/login.js')
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
    h3#login-error(style='display:none')

    div#real-login-form-wrapper
        form(method='post', action='/users/postlogin')#form
            input(name='username' title='Your username on TFH')#username
            input(name='password' type='password' title='Your password on TFH')#password
            input(type='submit' value='login')#loginbutton

    div#fake-login-form-wrapper
        input(type='hidden' name='_csrf' value=csrf)#csrf
        label Username:
        input(name='username' title='Your username on TFH')#fusername
        br
        label Password:
        input(name='password' type='password' title='Your password on TFH')#fpassword
        br
        input(type='submit' value='login')#submit
    div#suggestions
        a(href='https://github.com/login/oauth/authorize?client_id=' + githubClientID + '&redirect_uri=https://minecraft.yeung.online/users/github-login/&scope=user') Login using GitHub
        br
        a(href='https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=' + googleClientID + '&redirect_uri=https://minecraft.yeung.online/users/google-login/&scope=profile email openid') Login using Google

